.vscode/launch.json
TRATO/fTeste.prw
.vscode/launch.json
Estoque/Pesagem/event.prw
TRATO/GRUPOFAKE.PRW
TRATO/zPCPA09.tlpp
TRATO/VATRT01.PRW
Estoque/Pesagem/event.prw
Estoque/Pesagem/event.prw
.vscode/settings.json
Protheus/zWsGrpProd.prw
Protheus/zGrpProd.prw
Compras/initgrid.prw
Protheus/VAFTCAD1.PRW
ManutencaoAtivos/zSTJFIL.PRW
Scheduler-Jobs/VAJOB13.prw.BAK
.vscode/launch.json
.vscode/launch.json
.vscode/launch.json
M
/12.1.2410
/12.1.2310_2024ABR
