
.codegpt
telemetry.txt
GitHub_note_old/GitHub/.vscode/.advpl/_binary_class.prw
GitHub_note_old/GitHub/.vscode/.advpl/_binary_functions.prw
GitHub_note_old/GitHub/.vscode/launch.json
GitHub_note_old/GitHub/.vscode/servers.json
GitHub_note_old/GitHub/.vscode/servers.json
GitHub_note_old/GitHub/.vscode/settings.json
